name: Build Rust Wrapper

on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: "Staging branch to run release from"

env:
  RELEASE_TURBO_CLI: true
  RUST_BACKTRACE: full

jobs:
  build_static_linux_binary:
    name: "Build static Linux binary"
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
          targets: x86_64-unknown-linux-musl
      - name: Install musl tools
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends musl-tools
      - uses: actions/checkout@v3
      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_go_lib.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_branch }}
          name: turbo-lib-cross-${{ inputs.release_branch }}
          path: cli/libturbo
          if_no_artifact_found: fail
      - name: Build release binary
        run: cargo build --release -p turbo --target x86_64-unknown-linux-musl
      - name: Strip binary from debug symbols
        run: strip target/x86_64-unknown-linux-musl/release/turbo
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: turbo-x86_64-unknown-linux-musl
          path: target/x86_64-unknown-linux-musl/release/turbo*
